<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LASERSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <userSettings>
    <LASERSystem.My.MySettings>
      <setting name="DatabaseCNN" serializeAs="String">
        <value />
      </setting>
      <setting name="SendSettlementEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeliveredEmailtoT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastwrongLoginTime" serializeAs="String">
        <value />
      </setting>
      <setting name="CountwrongLogins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdminEmail" serializeAs="String">
        <value>laserelectdigi@gmail.com</value>
      </setting>
      <setting name="StickerPrinterName" serializeAs="String">
        <value>Gainscha GS-2406T</value>
      </setting>
      <setting name="RepairStickerPrinterPaperName" serializeAs="String">
        <value>Repair Label</value>
      </setting>
      <setting name="BillPrinterName" serializeAs="String">
        <value>Zonerich AB-220K</value>
      </setting>
      <setting name="BillPrinterPaperName" serializeAs="String">
        <value>297mm * User Defined</value>
      </setting>
      <setting name="StockStickerPaperName" serializeAs="String">
        <value>Stock Label</value>
      </setting>
      <setting name="BarcodeScannerCOMMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarcodeScannerCOMPort1" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodeScannerBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="ConfigCNN" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DBProvider" serializeAs="String">
        <value>Microsoft.ACE.OLEDB.12.0</value>
      </setting>
    </LASERSystem.My.MySettings>
  </userSettings>
</configuration>
